<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {% if error%}
        <div class="error">
            <h1>error</h1>
        </div>
        {% endif%}
        <label >value 1</label><br>   
        <input type="text" name="num1"><br>
        <label>Select opr</label><br>
        <select name="opr">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <label>value 2</label><br>
        <input type="text" name="num2"><br>
        <button type="submit">Calculate </button><br>

        <label >output</label>
        <input type="text" value="{{c}}"> 
    </form>
</body>
</html>