{%include "header.html"%}

<body>
    <div class="parra">
<h1 ><br>About us...</h1>

<p>
Art is not a thing; it is a way.” ~Elbert Hubbard<br>
“Painting is just another way of keeping a diary.” ~Pablo Picasso<br>
“Painting is poetry that is seen rather than felt, and poetry is painting that is felt rather than seen.” ~Leonardo da<br>
Vinci<br>
“To send light into the darkness of men`s hearts - such is the duty of the ar<br>tist.” ~Schumman<br>
“An artist cannot fail; it is a success to be one.” ~Charles Horton Cooley<br>
“Artists must be men of wit, consciously or unconsciously philosophers; read, study and think a great deal of life…”<br>
~Robert Henri<br>
“My paint brushes are having a bad-hair-day!” ~Lori McNee<br>
“Art washes away from the sould the dust of everyday life.” ~Pablo Picasso<br>
“All art requires courage.” ~Anne Tucker<br>
“When inspiration doesn't come, I go halfway to meet it.” ~Freud<br>
“Art is the most intense mode of individualism that the world has known.” ~Oscar Wilde<br>
“Painting is easy when you don't know how, but very difficult when you do.” ~Edgar Degas<br>
“The day is an empty canvas, the shapes and colors are yours to choose.” ~Alex Noble<br>
“I would like to paint the way a bird sings.” ~Claude Monet<br>
“Pictures must not be too picturesque.” ~Ralph Waldo Emerson<br>
“Imagination is more important than knowledge.” ~Albert Einstein<br>
“An artist is like a prophet. He must lead people and help them get acquainted with what he sees.” ~George Butendorp<br>
“Painting is a source of endless pleasure, but also of great anguish.” ~Balthus<br>
<br>
“For over twenty years I have squeezed my professional art career between kids and loads of laundry, and magically I get<br>
painting done…but, art has to start in the head before it makes it to the canvas anyway. I do a lot of thinking first.”<br>
~Lori McNee<br>
<br>
“If people knew how hard I worked to get my mastery, it wouldn't seem so wonderful at all.” ~Michelangelo<br>
“Anyone who says you can't see a thought simply doesn't know art.” ~Wynetka Ann Reynolds<br>
“Great art picks up where nature ends.” ~Marc Chagall<br>
“What art offers is space - a certain breathing room for the spirit.” ~John Updike<br>
“Everything depends on the attitude of the artist toward his subject. It is essential.” ~Robert Henri<br>
“Let your passion and talent drive your paint brushes.” ~Lori McNee<br>
“An artist is someone who produces things that people don't need to have but that he - for some reason - thinks it would<br>
be a good idea to give them.” ~Andy Warhol<br>
<br>
“Artists are fiery, they do not weep!” ~Ludwig van Beethoven<br>
<br>
“God and other artists are always a little obscure.” ~Oscar Wilde<br>
“The only time I am truly in-the-Now is when I paint.” ~Lori McNee<br>
“I found I could say things with color and shapes that I couldn't say any other way - things I had no words for.”<br>
~Georgia O'Keeffe<br>
<br>
</div>
</body>

{%include "footer.html"%}