<div class="contact">
    <div class="cred1"></div>
    <div id="contact">
        <p id="toknow">To know more</p>
        <!-- form data -->
        <form  method="post">
            {% csrf_token %}
        <input type="text" class="cin" placeholder="Name" name="NAME">
        <input type="email" class="cin" placeholder="abcd@gmail.com" name="GMAIL">
        <input type="number" class="cin" placeholder="+91 XXXXX XXXXX"  name="NUMBER">
        <br>
        <input type="text" class="cin" id="mess" placeholder="Message for us" name="MESSAGE">
        <button id="submit" type="submit">submit</button>
        </form>
    </div>
    <div class="cred2"></div>
</div>
<div class="contactus">
    <p id="heading">Contact us</p><br>
    <p class="mail">

        <a href="https://m.facebook.com/100079575436235/" target="blank"><img src="../static/img/fb.png" class="pimg"> </a>
        <a href="" target="blank"><img src="../static/img/you.png" class="pimg"> </a>
        <a href="https://instagram.com/kalaavistaar.official?igshid=Yzg5MTU1MDY=" target="blank"><img src="../static/img/insta.png" class="pimg"> </a>
        <a href="https://twitter.com/KalaaVistaar?t=fue5WROvo-sCj7i_FrxEdQ&s=08" target="blank"><img src="../static/img/twit.png" class="pimg"> </a>
        <a href="https://www.linkedin.com/company/kalaavistaar/" target="blank"><img src="../static/img/link.png" class="pimg"> </a>
        contact@kalaavistaraa.com<br>
        +91-88820 14789

    </p>
</div>
<div class="copyright">
    <p class="copycl">Copyright © 2022 KalaaVistaar Artforms Pvt. Ltd. All right Reserved
    </p>
    <p class="priv">Legal cookies &nbsp;&nbsp;&nbsp; Privacy policy</p>


</div>
</body>

</html>